<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title></title>
    <!--<meta http-equiv="refresh" content="40">-->
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <style>
    </style>
</head>
<body ng-controller="controller">

    <div class="container" style="padding-top:50px">
        <div class="btn-toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-repeat="o in [1,2,3,4]">
                    <span class="glyphicon glyphicon-align-left"></span>
                </button>
            </div>
        </div>
        <br />

        <!--<my-toggle-button direction="horizontal" options="first.textAlinementOptions"
                          ng-model="first.selectedValue"></my-toggle-button>-->

        <my-toggle-button options="first.textAlinementOptions" 
                          selected="first.selected" />


        <div class="vendor">
            <script src="Scripts/Vendor/jquery-1.10.2.js"></script>
            <script src="Scripts/Vendor/angular.js"></script>
            <script src="Scripts/Vendor/angular-animate.js"></script>
            <script src="Scripts/Vendor/bootstrap.js"></script>
        </div>

        <script>

            angular.module("app", [])

            .controller('controller', function ($scope) {
                $scope.first = {
                    textAlinementOptions:
                        ["align-left", "align-center", "align-right", "align-justify"],
                    selected: 2
                }
            })

            .directive("myToggleButton", function () {
                return {
                    restrict: 'E',
                    scope: {
                        options: '=',
                        selected: '=',
                    },
                    templateUrl: "myButtonToggleTemplate.html",
                    link: function (scope, element, attrs) {
                        scope.click = function (index) {
                            scope.expanded = !scope.expanded;
                            scope.selected = index;
                        }
                    },
                };
            })


        </script>
    </div>
</body>
</html>