<div class="jumbotron">
    <h1>Music Organiser</h1>
    <div class="visible-lg">lg</div>
    <div class="visible-md">md</div>
    <div class="visible-sm">sm</div>
    <div class="visible-xs">xs</div>
</div>

<div ng-controller="main">
    <a href="songs" class="pill">Link to Songs</a>
    <hr/>
    @*<div ng-view></div>*@
    <hr />
    <pre>{{1+1}}</pre>
    @*<pre>$location.path() = {{$location.path()}}</pre>
    <pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
    <pre>$route.current.params = {{$route.current.params}}</pre>
    <pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
    <pre>$routeParams = {{$routeParams}}</pre>*@
</div>

